<div class='events-header' style='background-image: url(<%= header_background_image_url %>)'>
  <div class="container">
    <h2> Discover upcoming events </h2>
    <%= form_tag(root_path, :method => "get", id: "search-form", class: "") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for events, shows, courses...", class: "form-control" %>
    <% end %>
  </div>
</div>
<div class="container-fluid events-list">

<div class="row">
  <div class="col m10 offset-m1">
   <% @events.in_groups_of(3) do |g| %>
     <% g.compact.each do |e| %>
            <%= render partial: 'card', locals: {event: e} %>
        <% end %>
         <% end %>
  </div>
</div>
</div>